.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 380px;
}

.search > input{
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 380px;
    border: none;
}

.search > button {
    position: absolute;
    width: 579px;
    padding: 10px;
    background-color: rgb(255, 152, 152);
    color: white;
    text-transform: inherit;
    left: 0;
    top: 480px;
}

.serach > button:hover {
    background-color: white;
    color: rgb(255, 152, 152);
}

